<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.employee.login.mapper.EmployeeMapper">
    <select id="loginEmployee" resultType="com.project.employee.login.service.http.EmployeeResponse">
        SELECT E.ID, E.NAME, E.LASTNAME, AC.ID_CAMPAIGN IDCAMPAIGN, AC.ID_TYPE_EMPLOYEE IDTYPE
        FROM EMPLOYEES E
        JOIN ACTIVE_CAMPAIGNS AC ON AC.ID_EMPLOYEE = E.ID
        WHERE E.NICKNAME LIKE #{employeeLogin.nickname}
        AND E.PASSWORD LIKE #{employeeLogin.password}
    </select>
</mapper>