<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.employee.loginservice.mapper.EmployeeMapper">
    <select id="loginEmployee" resultType="com.project.employee.loginservice.service.http.EmployeeResponse">
        SELECT E.ID, E.NAME, E.LASTNAME
              , (SELECT T.ID_TYPE_EMPLOYEE FROM TEAMS T
	              WHERE 1 = 1
	              AND T.FINAL_DATE IS NULL
	              AND T.STATUS IS TRUE
  	              AND T.ID_EMPLOYEE = E.ID ) AS IDTYPE
              , (SELECT T.ID_CAMPAIGN FROM TEAMS T
                  WHERE 1 = 1
                  AND T.FINAL_DATE IS NULL
                  AND T.STATUS IS TRUE
                  AND T.ID_EMPLOYEE = E.ID) AS IDCAMPAIGN
        FROM EMPLOYEES E
        WHERE E.NICKNAME LIKE #{employeeLogin.nickname}
        AND E.PASSWORD LIKE #{employeeLogin.password}
	</select>
</mapper>